

.container{
    background-image: url(images/fond_jaune.png);
    text-align: center;
}


header nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}


.logo{
    float: left;
}


.separateur img{
    width: 100%;
    height: 3.5px;
    
    margin: 10px 0px 10px 0px;
}

.headL h1{
    margin-left: 75px;
}




.banner img{
    width: 900px;
    height: 25x;
    border-radius: 5px;
    box-shadow: 4px 4px 5px black;
    position: relative;
}


.banner p{
    position: absolute;
    background: chartreuse;
    width: 100%;
    bottom: 75px;
    display: flex;
    justify-content: space-between;
}










header nav ul{
    justify-content: space-around;
}


header nav ul li{
    display: inline;
    padding: 5px;
    font-size: 1.5em;
}


.banner{
    width: 100%;
}




.main{
    width: 770px;
    display: flex;
    margin-top: 25px;
    text-align: justify;
    justify-content: space-between;
}

.main article{
    margin-right: 15px;
    
}
.main article img{
    float: left;
}


.main article h1{
    
    font-family: ;
}


.main article p{
    width: 650px;
}

aside{
    display: flex;
    width: 2500px;
    background: grey;
    border-radius: 5px;
    padding: 5px;
    
    color: white;
}